

.todolist-template {
    width: 50%;
    background-color: aliceblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.title {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    font-size: 40px;
    background-color: #4C4E49;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-span {
    padding: 20px;
    color: aliceblue;
}

.form-wrapper {
    padding: 20px;
}

.todos-wrapper {
    padding: 20px;
}